{% extends 'base.html' %}
{% block content %}

    <h1>about page</h1>


    <div class="card pt-1 ps-3  pe-3 mb-3">
        <form class=" mt-4 mb-4" action="{% url 'about' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Entrez un code postal</label>
                <input type="text" class="form-control" id="" aria-describedby="" name="postcode">
                <div id="" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>


    {% if loaded %}
        <div class="card p-3">
            
            <h4>Vous avez choisi la commune de {{ nomCommune }} : </h4>
            <h6>voici les prévisoions météorologique :</hx@6>
            <p>{{weather}}</p>
        </div>
    {% else %}

        {% if city == 'Error'  %}
            <p>Il y a une erreur, veuillez entrer un code postal valide</p>
        {% else %}
            <p>{{ city }}</p>
        {% endif %}



    {% endif %}


{% endblock %}



