{% extends 'base.html' %}
{% block content %}

    <div class="row pt-5">


        <div class="card mb-3">
            <div class="card-body">
                {% if regionNumb == 0 %}
                    <a href='{% url "load_regions" %}'><button class="btn btn-warning">load data</button></a>
                    {% else %}
                    <a href='{% url "delete_regions" %}'><button class="btn btn-danger">delete data</button></a>
                    <div class="form-text">Cette action va remettre à zero la base de données contenant les régions</div>
                {% endif %}
            </div>
        </div>

       

        <!-- display api call get regions -->
        <div class="col-md-4">

            <h1>Liste des régions</h1>
            
            <!-- {{ regions }}
            <br><br>
            {{ departements }} -->
            
            {% if regionNumb > 0 %}        
            
                {% if regions == "Error" %}
                
                <h3>Error</h3>         
                
                {% else %}
            
                <h6>il y a  {{ regionNumb }} régions</h6>
                <p class="form-text">La liste des régions est récupéré via l'api https://geo.api.gouv.fr/decoupage-administratif/regions puis enregistrée en base de données. Les données affichées sont chargées depuis la base de données</p>

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">nom</th>
                                <th scope="col">code</th>
                                <!-- <th scope="col">visited</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for region in regions %}
                            <tr>
                                <td>{{ region.regionName }}</td>
                                <td>{{ region.regionCode }}</td>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                {% endif %}        
            
            {% else %}
            
                <h3>No Data in database</h3>
                <div class="form-text">please load before going any further</div>
                    
            {% endif %}

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">

            {% if regionNumb > 0 %}
            
                <h1>Search</h1>

                <form class=" mt-4 mb-4" action="{% url 'home' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Choississez une région dans la liste</label>
                        <div class="form-text">La liste est créée dynamiquement à partir des info proveannt de la base de données</div>

                        <!-- <input type="number" class="form-control" id="coderegion" aria-describedby=""> -->
                        <select class="form-select" aria-label="Default select example" name="coderegion">
                            {% for region in regions %}
                                <option value={{region.regionCode}}>{{ region.regionName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                {% if departements == "Error" %}

                    <div>Effectuer une recherche</div>

                    {% else %}

                    <p>il y a {{ departmentNumb }} départements dans cette région</p>

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">nom</th>
                                <th scope="col">code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for departement in departements %}
                            <tr>
                                <td>{{ departement.nom }}</td>
                                <td>{{ departement.code }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <div class="form-text">La liste des départements de la région choisie est appelée depuis l'api. Le graphic affiche des données dynamique en provenance de l'api et compiler en backend</div>
                    <br>

                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                    
                    <br>

                {% endif %}

            {% endif %}

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('myChart');
        var regioninfo = JSON.parse("{{regionInfo | escapejs}}");

        var jsonArr = [];

            for (var i = 0; i < regioninfo.length; i++) {
                jsonArr.push({
                    x: regioninfo[i].x,
                    y: regioninfo[i].y
                });
            }

        new Chart(ctx, {
            type: 'bar',
            data: {
                // labels: a,
                datasets: [{
                    label: 'Habitants par région',
                    data: jsonArr,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        const cfg = {
                type: 'bar',
                data: {
                    datasets: [{
                        data: [20, 20],
                    }],
                    labels: ['a', 'b']
                }
            }
        
    </script>

{% endblock %}





